:root {
    /* Colors: */
    --main-color: #f2fcf4;
    --second-color: #d9eddf;
    --third-color: #737f4e;

    /* Fonts: */
    --heading-font: "Poppins", sans-serif;

    /* Padding and margin spaces: */
    --space-xs: 1rem;
    --space-s: 1.5rem;
    --space-m: 2rem;
    --space-l: 2.5rem;
    --space-xl: 3rem;

    /* Font sizes: */
    --size-xs: 1.5rem;
    --size-s: 1.9rem;
    --size-m: 2.4rem;
    --size-l: 3rem;
    --size-xl: 3.6rem;
}

body, html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}


#mainContainer {
    background-color: var(--main-color);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}