:root {
    /* Colors: */
    --main-color: #f2fcf4;
    --second-color: #d9eddf;
    --third-color: #737f4e;
    --hover-color: #b56035;

    /* Fonts: */
    --heading-font: "Poppins", sans-serif;
    --main-font: "Raleway", sans-serif;

    /* Padding and margin spaces: */
    --space-xs: 1rem;
    --space-s: 3rem;
    --space-m: 4rem;
    --space-l: 5rem;
    --space-xl: 6em;
    --space-xxl: 7rem;

    /* Font sizes: */
    --size-xs: 1.3rem;
    --size-s: 1.5rem;
    --size-m: 2rem;
    --size-l: 2.5rem;
    --size-xl: 3rem;
    --size-xxl: 3.6rem;
}

body, html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}


#mainContainer {
    background-color: var(--main-color);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

b {
    font-weight: 600;
}