
.button {
	display: inline-block;
	padding: calc(var(--space-s) / 2) var(--space-s);
    margin-top: var(--space-s);
	border-radius: 10rem;
	color: #fff;
	text-transform: uppercase;
	font-size: var(--size-m);
    font-family: var(--main-font);
	letter-spacing: 0.2rem;
	transition: all 0.3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
    text-decoration: none;
}

.button:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--third-color);
	border-radius: 10rem;
	z-index: -2;
}

.button:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.2); /* replace $color with your color value */
	transition: all 0.3s;
	border-radius: 10rem;
	z-index: -1;
}

.button:hover {
	color: #fff;
}

.button:hover:before {
	width: 100%;
}



@media only screen and (max-width: 1480px) {
	.button {
		font-size: var(--size-s);
	}
}

@media only screen and (max-width: 600px) {
	.button {
		font-size: var(--size-xs);
	}
}

