/* Card.css */
  
  #card {
    width: 30rem;
    height: 25rem;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: rgb(240, 240, 240);
    font-family: var(--main-font);
    font-size: var(--size-m);
  }
  
  #card img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    transition: 0.2s ease-out;
  }
  
  #card h2 {
    position: absolute;
    bottom: 0;
    left: 15%;
    margin: 0 0 4rem 0;
    transition: inset 0.3s 0.3s ease-out;
    font-family: var(--main-font);
    font-weight: normal;
    text-transform: uppercase;
    color: white !important;
    font-size: var(--size-m);
    letter-spacing: 0.6rem;
    text-align: center;
  }
  
  #card p {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity 0.3s ease-out;
    white-space: pre-wrap;
    text-align: left;
  }
  
  #card p {
    margin: 6rem 2rem 3rem 2rem;
  }
  
  #card:hover h2 {
    margin: 2rem 0 20rem 0;
    transition: margin 0.3s ease-out;
  }
  
  #card:hover p {
    opacity: 1;
    transition: opacity 0.5s 0.1s ease-in;
  }
  
  #card:hover img {
    transition: opacity 0.3s ease-in;
    opacity: 0.9;
  }

  #card:hover .lupa {
    display: none;
  }
  