
/* OBECNÁ NASTAVENÍ */
.outerBox {
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}

.innerBox {
    position: relative;
    height: 100%;
    max-width: 60%;
    padding-top: var(--space-xl);
    /* border: 1px solid red; */
}


/* .pokus {
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 15px;
} */



/* ------------------------------------------------------------------------------ */

/* NAVBAR */

h1 {
    font-family: var(--heading-font);
    font-size: var(--size-l);
    font-weight: 300 !important;
    color: black !important;
    text-decoration: none;
}

h1:hover {
    cursor: pointer;
    color: var(--hover-color) !important;
}

.navbar a {
    text-decoration: none;
}

.navbar-container {
    position: fixed;
    z-index: 4;
    background-color: var(--main-color);
    padding-bottom: calc(var(--space-m) / 2);
    padding-top: var(--space-s);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.links a {
    font-family: var(--main-font);
    font-size: var(--size-s2);
    text-decoration: none;
    color: var(--third-color);
    margin-left: var(--space-m);
}

.links a:hover {
    cursor: pointer;
    color: var(--hover-color);
}

/* ------------------------------------------------------------------------------ */


/* FIRST SECTION */
.firstSection {
    background-color: var(--main-color);
    height: auto;
}

.firstSection .innerBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--space-m);
}

.firstSection .innerBox h2 {
    font-size: var(--size-xxl);
    font-family: var(--main-font);
    color: var(--third-color);
    font-weight: 300;
    width: 70%;
    margin-bottom: var(--space-m);
}

#foodPlate {
    min-width: 30%;
    max-width: 35%;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.4) 1rem 1rem 3rem;
    margin-right: var(--space-s);
    margin-top: var(--space-s);
}


.firstSection .innerBox p {
    font-family: var(--main-font);
    font-size: var(--size-m);
}

.uvod {
    min-width: 40%;
    max-width: 55%;
    padding-bottom: var(--space-s);
    padding-left: var(--space-s);
}

.uvod p {
    margin-bottom: var(--space-s);
    margin-right: var(--space-xxl);
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 0.05rem;
}



/* Poznámky v textu */
.uvod span {
    color: var(--third-color);
    position: relative;
}

.uvod span:hover {
    cursor: pointer;
    color: var(--hover-color);
}

/* Kalorie */
.uvod span:nth-of-type(1)::after {
    content: "Kalorie je jednotka energie. \Akilokalorie (kcal) = 4,184 \Akilojoule (kJ)";
    white-space: pre;
    width: 30rem;
    height: 12rem;
    background-color: var(--third-color);
    border-radius: 2rem;
    position: absolute;
    top: 0;
    left: 5rem;
    color: white;
    padding: 1rem;
    z-index: 1;
    text-align: left;
    display: none;
    box-sizing: border-box;
}

.uvod span:nth-of-type(1):hover::after {
    display:block;
}

/* Deficit */
.uvod span:nth-of-type(2)::after {
    content: "Kalorický příjem < kalorický výdej.";
    width: 30rem;
    height: auto;
    box-sizing: border-box;
    background-color: var(--third-color);
    border-radius: 2rem;
    position: absolute;
    top: 0;
    right: 5rem;
    color: white;
    padding: 1rem;
    z-index: 1;
    text-align: left;
    display: none;
}

.uvod span:nth-of-type(2):hover::after {
    display:block;
}

/* Nadbytek */
.uvod span:nth-of-type(3)::after {
    content: "Kalorický příjem > kalorický výdej.";
    width: 30rem;
    height: auto;
    box-sizing: border-box;
    background-color: var(--third-color);
    border-radius: 2rem;
    position: absolute;
    top: 0;
    left: 5rem;
    color: white;
    padding: 1rem;
    z-index: 1;
    text-align: left;
    display: none;
}

.uvod span:nth-of-type(3):hover::after {
    display:block;
}

/* Bazální metabolismus */
.uvod span:nth-of-type(4)::after {
    content: "Bazální metabolismus (BMR) je množství energie (kalorií), které tělo potřebuje k udržení základních životních funkcí v klidovém stavu.";
    width: 30rem;
    height: auto;
    box-sizing: border-box;
    background-color: var(--third-color);
    border-radius: 2rem;
    position: absolute;
    top: 0;
    left: 5rem;
    color: white;
    padding: 1rem;
    z-index: 1;
    text-align: left;
    display: none;
}

.uvod span:nth-of-type(4):hover::after {
    display:block;
}

/* ------------------------------------------------------------------------------ */


/* ADDED SECTION */
.addedSection {
    background-color: var(--second-color);
    height: auto;
} 

.addedSection .innerBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    margin-top: var(--space-m);
}

.rovnice {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
    min-width: 40%;
    max-width: 55%;
    padding-bottom: var(--space-s);
    padding-right: var(--space-s);
}

.rovnice p {
    margin-bottom: var(--space-s);
    margin-left: var(--space-xxl);
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 0.05rem;
}

.addedSection .innerBox p {
    font-family: var(--main-font);
    font-size: var(--size-m);
}

.addedSection .innerBox h2 {
    font-size: var(--size-xxl);
    font-family: var(--main-font);
    color: var(--third-color);
    font-weight: 300;
    width: 70%;
    text-align: right;
    margin-bottom: var(--space-m);
}

#salad {
    min-width: 30rem;
    max-width: 45rem;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.4) 1rem 1rem 3rem;
    margin-right: var(--space-s);
    margin-top: var(--space-s);
}




/* ------------------------------------------------------------------------------ */


/* SECOND SECTION */
.secondSection {
    background-color: var(--main-color);
    height: auto;
} 

.secondSection .innerBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    margin-top: var(--space-m);
}

#pokeBowl {
    min-width: 30rem;
    max-width: 45rem;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.4) 1rem 1rem 3rem;
    margin-left: var(--space-s);
    margin-top: var(--space-s);
}

.jakPocitat {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    min-width: 40%;
    max-width: 60%;
    padding-bottom: var(--space-s);
    padding-right: var(--space-s);
}

.jakPocitat p {
    margin-bottom: var(--space-s);
    margin-right: var(--space-xxl);
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 0.05rem;
}

.secondSection .innerBox p {
    font-family: var(--main-font);
    font-size: var(--size-m);
}

.secondSection .innerBox h2 {
    font-size: var(--size-xxl);
    font-family: var(--main-font);
    color: var(--third-color);
    font-weight: 300;
    width: 70%;
    text-align: left;
    margin-bottom: var(--space-m);
}

.kalkulacka {
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.kalkulacka h3 {
    font-size: var(--size-l);
    font-family: var(--heading-font);
    font-weight: 400;
    margin-top: var(--space-s);
    margin-bottom: var(--space-xs);
    color: var(--third-color);
}



/* ------------------------------------------------------------------------------ */


/* THIRD SECTION */
.thirdSection {
    background-color: var(--second-color);
    height: auto;
}

.thirdSection .innerBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-top: var(--space-m);
}

.thirdSection .innerBox h2 {
    font-size: var(--size-xxl);
    font-family: var(--main-font);
    color: var(--third-color);
    font-weight: 300;
    width: 70%;
    text-align: right;
    margin-bottom: var(--space-m);
}


.thirdSection .innerBox p {
    font-family: var(--main-font);
    font-size: var(--size-m);
}

.viceInfo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
    width: 100%;
    padding-bottom: var(--space-s);
    padding-right: var(--space-s);
}

.viceInfo p {
    margin-bottom: var(--space-s);
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 0.05rem;
}

.viceInfo p:nth-child(2) {
    margin-left: var(--space-xxl);
}
 
.viceInfo p:nth-child(1) {
    margin-right: var(--space-xxl);
}

.text-and-carousel {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
}

.cardsContainer-container {
    width: 30rem;
}

.sportsBox-container {
    width: 30rem;
    height: 35rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* ------------------------------------------------------------------------------ */



/* FOOTER */
.footer {
    background-color: var(--main-color);
    height: auto;
}

.footer .innerBox {
    padding-top: 0;
}

.footer p {
    padding: 0;
    margin: 2rem 2rem;
    font-size: var(--size-xs);
    color: black;
}


/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */


/* RESPONSIVITY */

@media only screen and (max-width: 1480px) {

    /* OBECNÉ */
    .innerBox {
        max-width: 80%;
    }

    /* NAVBAR */
    .navbar {
        max-width: 80%;
    }

    .links {
        display: none;
    }

    h1 {
        font-size: var(--size-m);
    }

    /* FIRST SECTION */
    .firstSection {
        height: auto;
    }

    .firstSection .innerBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: var(--space-xl);
    }

    .uvod {
        max-width: 100%;
        margin-right: var(--space-xxl);
        margin-left: var(--space-xxl);
        padding-left: 0;
    }

    .uvod p {
        margin-right: 0;
    }

    #foodPlate {
        display: none;
    }
    
    .firstSection .innerBox h2 {
        font-size: var(--size-xl);
    }

    .firstSection .innerBox p {
        font-size: var(--size-s);
    }
    
    /* Span */
    .uvod span {
        color: black;
        font-weight: 500;
    }
    
    .uvod span:hover {
        cursor: default;
        color: black;
    }

    .uvod span:nth-of-type(1):hover::after {
        display:none;
    }

    .uvod span:nth-of-type(2):hover::after {
        display:none;
    }

    .uvod span:nth-of-type(3):hover::after {
        display:none;
    }

    .uvod span:nth-of-type(4):hover::after {
        display:none;
    }

    /* ADDED SECTION */
    .addedSection {
        height: auto;
    }

    #salad {
        display: none;
    }

    .addedSection .innerBox h2 {
        font-size: var(--size-xl);
    }

    .addedSection .innerBox p {
        font-size: var(--size-s);
    }

    .rovnice {
        max-width: 100%;
        padding-right: 0;
        margin-right: var(--space-xxl);
    }

    /* SECOND SECTION */
    .secondSection {
        height: auto;
    }

    .secondSection .innerBox h2 {
        font-size: var(--size-xl);
    }

    .secondSection .innerBox p {
        font-size: var(--size-s);
    }

    .jakPocitat {
        max-width: 100%;
        padding-right: 0;
        margin-left: var(--space-xxl);
        margin-right: var(--space-xxl);
    }

    .jakPocitat p {
        margin-right: 0;
    }

    .kalkulacka {
        width: 70%;
    }

    /* THIRD SECTION */
    .thirdSection {
        height: auto;
    }

    .thirdSection .innerBox h2 {
        font-size: var(--size-xl);
    }

    .thirdSection .innerBox p {
        font-size: var(--size-s);
    }

    .viceInfo {
        margin-left: var(--space-xxl);
        margin-right: var(--space-xxl);
    }

    #pokeBowl {
        display: none;
    }
}

    

@media only screen and (max-width: 1100px) {
/* FIRST SECTION */
    .uvod {
        margin-left: var(--space-m);
        margin-right: var(--space-m);
    }

/* ADDED SECTION */
    .rovnice {
        margin-right: var(--space-m);
    }

    .rovnice p {
        margin-left: var(--space-m);
    }

/* SECOND SECTION */
    .jakPocitat {
        margin-left: var(--space-m);
        margin-right: var(--space-m);
    }

    .kalkulacka {
        width: 100%;
    }


/* THIRD SECTION */
    .viceInfo {
        flex-direction: column;
        justify-content: start;
        align-items: end;
        padding-right: 0;
        margin-left: var(--space-m);
        margin-right: var(--space-m);
    }

    .viceInfo p {
        order: -1;
    }

    .viceInfo .text-and-carousel {
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .viceInfo .text-and-carousel p {
        margin: 0;
    }

    .viceInfo .partOne p {
        margin-bottom: var(--space-xl);
    }

    .viceInfo .partTwo p {
        margin-top: var(--space-xl);
    }
}


@media only screen and (max-width: 600px) {
    /* MARGINS */
    .uvod {
        margin-left: 0;
        margin-right: 0;
    }

    .rovnice {
        margin-right: 0;
    }

    .rovnice p {
        margin-left: 0;
    }

    .jakPocitat {
        margin-left: 0;
        margin-right: 0;
    }

    .viceInfo {
        margin-left: 0;
        margin-right: 0;
    }
}

