
/* OBECNÁ NASTAVENÍ */
.outerBox {
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.innerBox {
    height: 100%;
    min-width: 70%;
    max-width: 90%;
    border: 1px solid red;
}

.pokus {
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 15px;
}

p {
    font-size: 20px;
}

/* NAVBAR */
.navbar {
    background-color: var(--main-color);
    height: 8vh;
}

.navbar .innerBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    font-family: var(--heading-font);
    font-size: var(--size-l);
    font-weight: 300;
    color: black;
}

/* FIRST SECTION */
.firstSection {
    background-color: var(--main-color);
    height: 70vh;
}

/* SECOND SECTION */
.secondSection {
    background-color: var(--second-color);
    height: 70vh;
} 

/* THIRD SECTION */
.thirdSection {
    background-color: var(--main-color);
    height: 70vh;
} 

/* FOOTER */
.footer {
    background-color: var(--second-color);
    height: 10vh;
}