
/* OBECNÁ NASTAVENÍ */
.outerBox {
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.innerBox {
    position: relative;
    height: 100%;
    width: 70%;
    /* border: 1px solid red; */
}

/* .pokus {
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 15px;
} */

p {
    font-size: 20px;
}

/* ------------------------------------------------------------------------------ */

/* NAVBAR */
.navbar {
    background-color: var(--main-color);
    height: 8vh;
}

.navbar .innerBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
    padding-top: var(--space-xs);
    font-family: var(--heading-font);
    font-size: var(--size-l);
    font-weight: 300;
    color: black;
}

/* ------------------------------------------------------------------------------ */


/* FIRST SECTION */
.firstSection {
    background-color: var(--main-color);
    min-height: 70rem;
    max-height: 250rem;
}

.firstSection .innerBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-top: var(--space-m);
}

.firstSection .innerBox h2 {
    font-size: var(--size-xxl);
    font-family: var(--main-font);
    color: var(--third-color);
    font-weight: 300;
    width: 70%;
}

#foodPlate {
    min-width: 30rem;
    max-width: 45rem;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.4) 1rem 1rem 3rem;
    margin-right: var(--space-s);
    margin-top: var(--space-s);
}

.firstSection .innerBox p {
    font-family: var(--main-font);
    font-size: var(--size-m);
}

.uvod {
    min-width: 60%;
    max-width: 90rem;
    padding-bottom: var(--space-s);
    padding-left: var(--space-s);
}

.uvod p {
    margin-bottom: var(--space-s);
    margin-right: var(--space-xxl);
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 0.05rem;
}


/* Poznámky v textu */
.uvod span {
    color: var(--third-color);
    position: relative;
}

.uvod span:hover {
    cursor: pointer;
    color: var(--hover-color);
}

/* Kalorie */
.uvod span:nth-of-type(1)::after {
    content: "Kalorie je jednotka energie. \A 1 kilokalorie (kcal) = 4,184 kilojoule (kJ)";
    white-space: pre;
    width: 40rem;
    height: 8rem;
    box-sizing: border-box;
    background-color: var(--third-color);
    border-radius: 2rem;
    position: absolute;
    top: -2rem;
    left: 10rem;
    color: white;
    padding: 1rem;
    z-index: 1;
    text-align: left;
    display: none;
}

.uvod span:nth-of-type(1):hover::after {
    display:block;
}

/* Deficit */
.uvod span:nth-of-type(2)::after {
    content: "Kalorický příjem < kalorický výdej.";
    width: 30rem;
    height: 8rem;
    box-sizing: border-box;
    background-color: var(--third-color);
    border-radius: 2rem;
    position: absolute;
    top: -2rem;
    left: 10rem;
    color: white;
    padding: 1rem;
    z-index: 1;
    text-align: left;
    display: none;
}

.uvod span:nth-of-type(2):hover::after {
    display:block;
}

/* Nadbytek */
.uvod span:nth-of-type(3)::after {
    content: "Kalorický příjem > kalorický výdej.";
    width: 30rem;
    height: 8rem;
    box-sizing: border-box;
    background-color: var(--third-color);
    border-radius: 2rem;
    position: absolute;
    top: -2rem;
    left: 10rem;
    color: white;
    padding: 1rem;
    z-index: 1;
    text-align: left;
    display: none;
}

.uvod span:nth-of-type(3):hover::after {
    display:block;
}

/* Bazální metabolismus */
.uvod span:nth-of-type(4)::after {
    content: "Bazální metabolismus (BMR) je množství energie (kalorií), které tělo potřebuje k udržení základních životních funkcí v klidovém stavu.";
    width: 38rem;
    height: 14rem;
    box-sizing: border-box;
    background-color: var(--third-color);
    border-radius: 2rem;
    position: absolute;
    top: -2rem;
    left: 10rem;
    color: white;
    padding: 1rem;
    z-index: 1;
    text-align: left;
    display: none;
}

.uvod span:nth-of-type(4):hover::after {
    display:block;
}

/* ------------------------------------------------------------------------------ */



/* SECOND SECTION */
.secondSection {
    background-color: var(--second-color);
    min-height: 70rem;
    max-height: 250rem;
} 

.secondSection .innerBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    margin-top: var(--space-m);
}

#pokeBowl {
    min-width: 30rem;
    max-width: 45rem;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.4) 1rem 1rem 3rem;
    margin-left: var(--space-s);
    margin-top: var(--space-s);
}

.jakPocitat {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
    max-width: 90rem;
    min-width: 60%;
    padding-bottom: var(--space-s);
    padding-right: var(--space-s);
}

.jakPocitat p {
    margin-bottom: var(--space-s);
    margin-left: var(--space-xxl);
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 0.05rem;
}

.secondSection .innerBox p {
    font-family: var(--main-font);
    font-size: var(--size-m);
}

.secondSection .innerBox h2 {
    font-size: var(--size-xxl);
    font-family: var(--main-font);
    color: var(--third-color);
    font-weight: 300;
    width: 70%;
    text-align: right;
}

.kalkulacka {
    width: 100%;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.kalkulacka h3 {
    font-size: var(--size-l);
    font-family: var(--heading-font);
    font-weight: 400;
    margin-top: var(--space-s);
    margin-bottom: var(--space-xs);
}



/* ------------------------------------------------------------------------------ */


/* THIRD SECTION */
.thirdSection {
    background-color: var(--main-color);
    height: 70vh;
} 


/* ------------------------------------------------------------------------------ */



/* FOURTH SECTION */
.fourthSection {
    background-color: var(--second-color);
    height: 70vh;
} 


/* ------------------------------------------------------------------------------ */



/* FOOTER */
.footer {
    background-color: var(--main-color);
    height: 10vh;
}







@media only screen and (max-width: 1400px) {
    .firstSection .innerBox {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    #foodPlate {
        margin-bottom: var(--space-xl);
    }
}