
.card{
    position: relative;
    cursor: pointer;
    margin: var(--space-m);
    background-color: var(--second-color) !important;
    border: none !important;
}

.card .face{
    width: 200px;
    height: 150px;
    transition: 0.5s;
    border-radius: 10px;
}

.card .face.face1{
    position: relative;
    background: var(--third-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    transform: translateY(50px);
}

.card:hover .face.face1{
    background: #b5bd98;
    transform: translateY(0);
}

.card .face.face1 .content{
    opacity: 0.6;
    transition: 0.5s;
    text-align: center;
}

.card:hover .face.face1 .content{
    opacity: 1;
}

.card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: var(--size-m);
    font-family: var(--main-font);
    font-weight: 300;
    letter-spacing: 0.6rem;
}

.card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transform: translateY(-100px);
    z-index: 2;
}

.card:hover .face.face2{
    transform: translateY(0);
}

.card .face.face2 .content p{
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    font-size: var(--size-s);
    text-align: left;
}

.sport-icon {
    font-size: 7rem !important;
    color: white !important;
}